.right-col {
    background-color: var(--color-primary);
  }
  
  .App-wrapper {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .App-wrapper {
      flex-direction: column;
    }
    
    .right-col {
      width: 100%;
    }
    .board-controls {
        display: none;
    }
  }
  